body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container {
  padding: 20px;
  display: grid;
  justify-content: center;
  background-color: #dcdcdc;
  overflow: hidden;
}
.card-container{
  padding-top: 71px;
  width: 128vw;
  display: grid;
  justify-content: center;
  background: white;
}
.indpro-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px; /* Adjust margin as needed */
  color: white;
}

@media screen and (max-width: 768px) {
  .indpro-text {
    margin-left: 20px; /* Adjust as needed */
    font-size: 24px; /* Adjust as needed */
  }
  
}
